.page {
    background: #e2e2e5a4;
    flex-direction: column;
    top: 25%;
    left: 28%;
    height: 100%;
    width: 600px;
    position: absolute;
}

.container2 {
    display: flex;
    height: 400px;
    width: 800px;
}

.left {
    background: white;
    height: calc(100% - 40px);
    position: relative;
    width: 45%;
}

.eula {
    font-size: 18px;
    color: #777;
    line-height: 1.8;
    text-align: center;
    max-width: 600px;
    margin-top: 160px;
}

.right {
    background: #474A59;
    box-shadow: 0px 0px 40px 16px rgba(0, 0, 0, 0.22);
    color: #F1F1F2;
    position: relative;
    width: 45%;
    height: calc(100% - 10%);
}

svg {
    top: -90px;
    left: 10px;
    position: absolute;
    width: 320px;
    height: 600px;
}

path {
    fill: none;
    stroke: url(#linearGradient);
    stroke-width: 4;
    stroke-dasharray: 240 1386;
}

.form {
    margin: 20px 40px;
    position: absolute;
}

label {
    color: #c2c2c5;
    display: block;
    font-size: 14px;
    height: 16px;
}

input {
    background: transparent;
    color: #f2f2f2;
    outline: none !important;
    width: 100%;
}

#submit {
    color: #707075;
    margin-top: 40px;
    transition: color 300ms;
}

#submit:focus {
    color: #f2f2f2;
}

.footer {
    position: fixed;
    width: 100%;
    bottom: 0%;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    z-index: 1000;
}

/* 애니메이션 */
@keyframes slideDown {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideUpOut {
    0% {
        opacity: 1;
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        transform: translateY(-100%);
    }
}

@keyframes slideUp {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideDownOut {
    0% {
        opacity: 1;
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        transform: translateY(100%);
    }
}

.header,
.footer {
    animation: slideDown 0.7s ease forwards;
}

@media (max-width: 767px) {
    .page {
        height: auto;
    }

    .container {
        flex-direction: column;
        height: 630px;
        width: 320px;
    }

    .left {
        height: 100%;
        left: 20px;
        width: calc(100% - 40px);
        max-height: 270px;
    }

    .right {
        flex-shrink: 0;
        height: 100%;
        width: 100%;
        max-height: 350px;
    }
}

@media (max-width: 1024px) {
    .page {
        width: 90%;
        left: 5%;
    }
}